* {
  box-sizing: border-box;
}
body {
  font-family: "Space Grotsek", sans-serif;
  margin: 0;
}

/* h1,h2,h3,h4,h5,h6
{
  font-family:Fraunces,sans-serif;
  font-weight: 400;
  color: #FFFFEF;
}
h1 {
  font-size: 57px;
}
h2 {
  font-size: 50px;
}
h3{
  font-size: 45px;
}
h4{
  font-size: 25px;
}
h5{
  font-size: 25px;
}
h6{
  font-size: 20px;
} */
.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  width: 100%;
  background-image: url(./Rectangle.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  background-size: cover;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.logo {
  width: 200px;
}
nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  color: #56593d;
  font-size: 16px;
}
nav img {
  display: flex;
  justify-content: space-between;
}
.images-nav {
  width: 150px;
} 
.images-nav li {
  padding: 10px;
}
.header-row{
  display:block;
  justify-content: flex-end;
}
